.cart-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin: 0 2rem;
}

.cart-item:not(:last-child) {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.cart-item img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.meal {
  margin-left: 1rem;
  flex: 1 1 auto;
}

.name {
  font-size: var(--font-small);
  font-weight: var(--font-bold);
  margin-bottom: 3px;
}

.price {
  color: var(--color-yellow);
  font-family: 'Rubik', sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--font-bold);
}

.amount {
  color: var(--color-dark-gray);
  font-family: 'Rubik', sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--font-bold);
  margin-left: 0.5rem;
}

.actions {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--font-bold);
  text-align: center;
}

.actions button:first-child {
  border-radius: 5px 5px 0 0;
  margin-bottom: 1px;
}

.actions button:last-child {
  border-radius: 0 0 5px 5px;
}

.actions button:hover {
  filter: brightness(1.5);
}

.actions button:active {
  transform: scale(0.98);
}
